<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{110,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{110,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird_nest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{116,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{116,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,626},{116,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,506},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,506},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>top_img_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,744},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>top_img_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,744},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>top_img_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{166,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,82}}</string>
                <key>sourceSize</key>
                <string>{166,82}</string>
            </dict>
            <key>top_img_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,338},{166,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,82}}</string>
                <key>sourceSize</key>
                <string>{166,82}</string>
            </dict>
            <key>top_img_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{166,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,82}}</string>
                <key>sourceSize</key>
                <string>{166,82}</string>
            </dict>
            <key>top_img_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>top_img_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>top_img_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
            <key>top_img_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,82}}</string>
                <key>sourceSize</key>
                <string>{248,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_game.png</string>
            <key>size</key>
            <string>{254,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:913f01b038303bb7f34549e19cbd2c3b$</string>
            <key>textureFileName</key>
            <string>bird_game.png</string>
        </dict>
    </dict>
</plist>
